In [49]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import pingouin as pg

df = sns.load_dataset('mpg').dropna()
df.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite

In [ ]:
fig, ax = plt.subplots(2, 2, figsize=(10, 8))
sns.histplot(df['mpg'], kde=True, ax=ax[0, 0])
sns.histplot(df['horsepower'], kde=True, ax=ax[0, 1])
sns.histplot(df['weight'], kde=True, ax=ax[1, 0])
sns.barplot(df['cylinders'].value_counts(), ax=ax[1, 1]);

In [45]:
pd.concat([pg.normality(df['mpg']),
           pg.normality(df['horsepower']),
           pg.normality(df['weight'])])

                   W          pval  normal
mpg         0.967170  1.049441e-07   False
horsepower  0.904097  5.022069e-15   False
weight      0.941466  2.601686e-11   False

In [ ]:
fig, ax = plt.subplots(2, 2, figsize=(10, 8))
sns.scatterplot(df, x='displacement', y='mpg', ax=ax[0, 0])
sns.scatterplot(df, x='horsepower', y='mpg',ax=ax[0, 1])
sns.scatterplot(df, x='weight', y='mpg', ax=ax[1, 0])
sns.barplot(df.iloc[:,:-2].groupby('cylinders').mean(), 
                x='cylinders', y='mpg', ax=ax[1, 1]);

In [55]:
pd.concat([pg.corr(df['displacement'], df['mpg'], method='spearman'),
           pg.corr(df['horsepower'], df['mpg'], method='spearman'),
           pg.corr(df['weight'], df['mpg'], method='spearman')])

            n         r           CI95%          p-val  power
spearman  392 -0.855234  [-0.88, -0.83]  2.195778e-113    1.0
spearman  392 -0.853616  [-0.88, -0.82]  1.619383e-112    1.0
spearman  392 -0.875585   [-0.9, -0.85]  2.662378e-125    1.0

In [51]:
pg.kruskal(df, 'mpg', 'cylinders')

            Source  ddof1           H         p-unc
Kruskal  cylinders      4  280.405678  1.821899e-59